html, body {
    margin: 5px;
}

.board {
    position: relative;
    display: flex;
    background-color: SaddleBrown;
    height: 200px;
    width: 800px;
    border-radius: 25px;
    padding: 30px;
}

.section {
    background-color: rgba(255, 255, 255, 0.03);
    margin: 5px;
}

.endsection {
    display: flex;
    flex-grow: 1;
}

.midsection {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
}

.midrow {
    display: flex;
    flex-grow: 1;
}

.pit {
    position: relative;
    background-color: rgba(255, 255, 255, 0.08);
    flex-grow: 1;
    margin: 5px;
    border-radius: 50px;
}

.pit-seeds {
    position: absolute;
    top: 15%;
    left: 45%;
}

.pit-font {
    font-size: 20px;
    color: papayawhip;
    font-weight: bold;
}

.kalah-seeds {
    position: absolute;
    top: 30%;
    left: 45%;
}

.clicable-row {
    border-color: khaki;
    border-style: dashed;
}

.current-player {
    height: 9px;
    width: 795px;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.08);
    border-style: solid;
    text-align: center;
    font-family: Geneva;
    color: SaddleBrown;
    font-weight: bold;
}

.container {
    padding: 18px;
    margin: 10px;
    justify-items: center;
    height: 350px;
    width: 850px;
}

.player-bottom {
    bottom: 0;
    right: 50%;
}

.player-top {
    top: 0;
    right: 50%;
}

.player-name {
    position: absolute;
    color: aliceblue;
    font-size: 20px;
}


